:root {
--cotton-candy: #fdc5f5ff;
--mauve: #f7aef8ff;
--lavender-floral: #b388ebff;
--cornflower-blue: #8093f1ff;
--sky-blue-crayola: #72ddf7ff;
}
*{
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: "Architect Daughter";
  line-height: 1,4; 
  font-size: 12px;
}

.header {
  font-size: 2rem;
  background-color: var(--cornflower-blue);
}

.nav-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
  colour: black;

}
@media screen and (max-width: 576px) {
.nav-container{
  flex-direction:column; 
  align-items: center;
  }  
}
