:root {
--cotton-candy: #fdc5f5ff;
--mauve: #f7aef8ff;
--lavender-floral: #b388ebff;
--cornflower-blue: #8093f1ff;
--sky-blue-crayola: #72ddf7ff;
}
*{
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: "Architect Daughter";
  line-height: 1,4; 
  font-size: 10px;
}

.header {
  color:black; 
  font-size: 1,4rem;
  background-color: var(--cornflower-blue);
}

.nav-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  padding: 2rem;
  font-size: 2rem;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.main {
font-size: 1rem;

}

.title {
  font-size: 2rem;
  font-weight: 200;

}

.btn {
  padding: 1 rem 1.5 rem; 
  border: 1px solid;
  border-radius: 0.4rem;
  border-color: var(--sky-blue-crayola););
  font-size: 1rem;
  letter-spacing: 0.2rem;  
}

.btn:hover {
  background-color: var(--mauve);
  cursor: -webkit-zoom-in;
}
@media screen and (max-width: 576px) {
.nav-container{
  flex-direction:column; 
  align-items: center;
  }  
  .start-container {
    margin: 0 2rem;
    padding: 2 rem;
}
}

