* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 243, 224);
}

.container, .counter-div {
  width: 800px;
  max-width: 50%;
  background-color: rgb(68, 134, 112);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 6px 2 px;
  text-align: center;
}

.main-btn, .question-btn {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;  
  justify-content: center;
  text-align: center; 
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  border: 1 px solid cornflowerblue;
  border-radius: 5px;

}
.main-btn, .question-btn :hover {
  border-colour: black;

}
.flex-container, .container-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-align: justify;
}
.main-text {
  display: flex;
  font-size: medium;
  justify-content: center;
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  body {
    background: #ccc;
  }
}