*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 243, 224);
}

.container {
  width: 800px;
  max-width: 50%;
  background-color: rgb(68, 134, 112);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 6px 2 px;
}

.btn {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
  border: 1 px solid cornflowerblue;
  border-radius: 5px;
}
.btn:hover {
  border-colour: black;
}
.start-btn,
next-btn {
  font-size: 1, 5rem;
  font-weight: bold;
  padding: 10 px, 20px;
}
.controls {
  display: flex;
  justify-content: center;
  align-content: center;
}
.hide {
  display: none;
}
